<div style="height:85px" >
		<H1 style="float:left">New Message</H1>
		<H4 style="float:right">| <a href=" {% url 'mailclient:inbox' account.id %}">Inbox</a> | <a href="{% url 'mailclient:outbox' account.id %}">Outbox</a> | <a href="{% url 'mailclient:index' %}">Log Out</a> | Erik</H4>
	</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mailclient:send' account.id %}" method="post">
	{% csrf_token %}
	To: <select name="to_user">
		{% for user_acct in latest_user_list %}
			{% if user_acct.id == account.id %}
			{% else %}
				<option value="{{ user_acct.id }}">{{ user_acct.username }}</option>
			{% endif %}
		{% endfor %}
	</select><br>
	Title:<input type="text" name="title"><br>
	<textarea rows="10" cols="30" name="body">
	</textarea><br>
	<input type="submit" value="Send" />
</form>
